.header-menu {
    margin-left: 10px;
    padding-top: 10px;
}
.header-menu:hover {
    color: red;
}
.main-title-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.row-center {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.intro-row {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;

    padding-left: 10px;
    padding-right: 10px;
}
.intro-info {
    padding: 20px;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.intro-img {
    width: 150px;
    height: 150px;
}