.header-menu {
    margin-left: 10px;
    padding-top: 10px;
}
.header-menu:hover {
    color: red;
}
.main-title-wrapper-center {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 100px;
    background-color: #f9893e;
}
.main-title-wrapper-left {
    display: flex;
    flex-direction: row;
    justify-content: left;
    height: 125px;
    background-color: #f9893e;
}
.main-title-wrapper-right {
    display: flex;
    flex-direction: row;
    justify-content: right;
    height: 125px;
    background-color: #f9893e;
}
.row-center {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: xxx-large;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}
.row-title {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: xxx-large;
    color: darkgreen;
    font-family: Arial, Helvetica, sans-serif;
}

.subtitle-bold{
    display: flex;
    flex-direction: column;
    text-align: left;
    font-size: x-large;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}

.subtext-light{
    display: flex;
    flex-direction: column;
    text-align: left;
    font-size: medium;
    color: lightgrey;
    font-family: Arial, Helvetica, sans-serif;
}

.intro-row {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;

    padding-left: 10px;
    padding-right: 10px;
}
.intro-info {
    padding: 20px;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.intro-img {
    width: 150px;
    height: 100px;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
}