.header-menu {
    margin-left: 10px;
    padding-top: 10px;
}
.header-menu:hover {
    color: red;
}
.main-title-wrapper-center {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 100px;
    background-color: orange;
}
.main-title-wrapper-left {
    display: flex;
    flex-direction: row;
    justify-content: left;
    height: 125px;
    background-color: orange;
}
.main-title-wrapper-right {
    display: flex;
    flex-direction: row;
    justify-content: right;
    height: 125px;
    background-color: orange;
}
.row-center {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.intro-row {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;

    padding-left: 10px;
    padding-right: 10px;
}
.intro-info {
    padding: 20px;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.intro-img {
    width: 150px;
    height: 125px;
}